{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<br>
<br>
<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<br>
    <h1>{% trans "Sign Up" %}</h1>
    <p>{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>
    
    <!-- Form rendering starts here -->
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Sign up" %}</button>
    </form>
    <!-- Form rendering ends here -->
{% endblock content %}